Repository nelsonrp24/react-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nelsonrp24, @nelsonrp24_2, @nelsonrp24_3, @nelsonrp24_4

fix: fixing to test open an issue
  .github/workflows/ci.yml
  src/App.js
Owners: @nelsonrp24_2, @nelsonrp24

fix: fixing to create issue
  .github/workflows/ci.yml
  .github/workflows/issue.yml
Owners: @nelsonrp24_2

fix: creating issue
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

fix: fixing
  src/App.js
Owners: @nelsonrp24

fix: fixing issues
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

fix: fixing badge
  README.md
Owners: @nelsonrp24

feat: develop local action
  .github/actions/hello/action.yml
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
  .github/workflows/actions.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
Owners: @nelsonrp24_2, @nelsonrp24

feat: adding actions
  .github/workflows/actions.yml
Owners: @nelsonrp24_2

feat: adding action
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
Owners: @nelsonrp24

feat: feat: adding action 2
  .github/actions/hello/index.js
Owners: @nelsonrp24

feat: feat: adding action 2
  .github/actions/hello/dist/index.js
Owners: @nelsonrp24

feat: feat: adding action 3 - error
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
Owners: @nelsonrp24

feat: feat: adding action 3 - error fix
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
Owners: @nelsonrp24

feat: core functionalities 1
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
  .github/workflows/actions.yml
Owners: @nelsonrp24, @nelsonrp24_2

feat: core functionalities 2
  .github/actions/hello/dist/index.js
  .github/actions/hello/index.js
Owners: @nelsonrp24

feat: adding action to create issue
  .github/actions/hello/action.yml
  .github/actions/hello/index.js
  .github/actions/issue/action.yml
  .github/actions/issue/dist/index.js
  .github/actions/issue/index.js
  .github/workflows/actions.yml
Owners: @nelsonrp24_2, @nelsonrp24

feat: adding action to create issue 2
  .github/actions/issue/index.js
Owners: @nelsonrp24

feat: feat: adding action to create issue 3
  .github/actions/issue/dist/index.js
Owners: @nelsonrp24

feat: feat: adding action to create issue 3
  .github/actions/issue/dist/index.js
  .github/actions/issue/index.js
Owners: @nelsonrp24

feat: feat: feat: adding action to create issue 4
  .github/actions/issue/action.yml
  .github/actions/issue/dist/index.js
  .github/actions/issue/index.js
Owners: @nelsonrp24_2, @nelsonrp24

feat: feat: feat: adding action to create issue 5
  .github/actions/issue/dist/index.js
  .github/actions/issue/index.js
Owners: @nelsonrp24

feat: docker actions 1
  .github/actions/hello-docker/Dockerfile
  .github/actions/hello-docker/action.yml
  .github/actions/hello-docker/entrypoint.sh
  .github/workflows/actions.yml
Owners: @nelsonrp24, @nelsonrp24_2

feat: docker actions 2
  .github/actions/hello-docker/entrypoint.sh
Owners: @nelsonrp24

feat: docker actions 3
  .github/actions/hello-docker/entrypoint.sh
Owners: @nelsonrp24

feat: docker actions 4
  .github/actions/hello-docker/entrypoint.sh
Owners: @nelsonrp24

feat: docker actions 5
  .github/actions/hello-docker/entrypoint.sh
Owners: @nelsonrp24

feat: php slack 1
  .github/actions/slack/Dockerfile
  .github/actions/slack/action.yml
  .github/actions/slack/composer.json
  .github/actions/slack/composer.lock
  .github/actions/slack/script.php
  .github/workflows/actions.yml
Owners: @nelsonrp24, @nelsonrp24_2

feat: php slack 2
  .github/actions/slack/Dockerfile
Owners: @nelsonrp24

feat: php slack 3
  .github/actions/slack/script.php
Owners: @nelsonrp24

feat: php slack 4
  .github/actions/slack/script.php
Owners: @nelsonrp24

.github/CODEOWNERS:

* @nelsonrp24
*.js @nelsonrp24
*.yml @nelsonrp24_2
*.tf @nelsonrp24_3 
/public/ @nelsonrp24_4
