Repository nelsonrp24/react-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nelsonrp24, @nelsonrp24_2, @nelsonrp24_3, @nelsonrp24_4

.github/CODEOWNERS:

* @nelsonrp24
*.js @nelsonrp24
*.yml @nelsonrp24_2
*.tf @nelsonrp24_3 
/public/ @nelsonrp24_4

adding ci
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

testing library
  package.json
Owners: @nelsonrp24

testing library
  package.json
Owners: @nelsonrp24

testing library
  package.json
Owners: @nelsonrp24

udpating node version
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

sync package.json
  package-lock.json
  package.json
Owners: @nelsonrp24

sync package.json
  package-lock.json
  package.json
Owners: @nelsonrp24

prettier
  .github/workflows/ci.yml
  .prettierrc
  public/index.html
Owners: @nelsonrp24_2, @nelsonrp24, @nelsonrp24_4

adding import test
  src/setupTests.js
Owners: @nelsonrp24

prettier setupTest.js
  src/setupTests.js
Owners: @nelsonrp24

adding build
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

prettier
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

Adding surge
  package-lock.json
  package.json
Owners: @nelsonrp24

Adding caching
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

fixing typo:restore-key -> restore-keys
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

Adding artifact
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

prettier
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

condition
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

fix: fix description
  package-lock.json
  package.json
  release.config.js
Owners: @nelsonrp24

prettier
  release.config.js
Owners: @nelsonrp24

fix: sematic relase branch name
  release.config.js
Owners: @nelsonrp24

feat: Adding Semantic Versioning
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat: Adding Semantic Versioning
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat: Adding Semantic Version on Main
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat: Adding Semantic Version on Main new token
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat: Adding Semantic Version on Main new token repo name
  release.config.js
Owners: @nelsonrp24

feat: Adding Semantic Version on Main github_token
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat: Adding Semantic Version on Main new token repo name
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

Emtpy Commit - new token
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

commetout release
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

Adding zip
  .github/workflows/ci.yml
  release.config.js
Owners: @nelsonrp24_2, @nelsonrp24

feat: adding ziping assets
  .github/workflows/ci.yml
  release.config.js
Owners: @nelsonrp24_2, @nelsonrp24

feat: adding ziping assets
  release.config.js
Owners: @nelsonrp24

feat: adding ziping assets
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat:Adding codecov report
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat:Adding codecov report
  .github/workflows/ci.yml
Owners: @nelsonrp24_2

feat: adding commitizen
  commitlint.config.js
  package-lock.json
  package.json
Owners: @nelsonrp24

feat: adding commitlint
  package-lock.json
  package.json
Owners: @nelsonrp24

feat: slack message for release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @nelsonrp24_2

Notes added by 'git notes add'
  7725ba6149299c68ef9ad1b9572dc6926bad7305
Owners: @nelsonrp24
